package.json
/bin/
/obj/
/node_modules/
/phpMyAdmin/


*.log

*.env
.ts
.md

# Might want to change this later
*.jpg       
*.svg 
*.png
*.jpeg
*.txt
*.joblib
*.csv
*.DS_Store
*.json
*.lock
*.txt
*.pyc




.vscode/

/vendor/
